$color1: #161d20;
$color2: #005555;
$color3: #ffffff;
$color4: #069a8e;
$color5: #a1e3d8;
$color6: #f7ff93;

/*BOOTSTRAP*/
$primary: $color1;
$navbar-light-color: $color2;
$navbar-light-hover-color: $color1;
$navbar-light-active-color: $color1;
$nav-link-font-weight: 500;
$font-family-sans-serif: "Poppins";
$border-radius: 2rem;
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 2rem;
$btn-link-color: white;

/* SWEET ALERT */
$swal2-confirm-button-background-color: $color1;
$swal2-cancel-button-background-color: $color2;
$swal2-question: $color1;

/* SWIPER */
$themeColor: $color1;
