@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;

.auth {
  background-image: url("required(../../../../../../assets/img/bg/pageheader.png");
  height: auto;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 11rem;
    bottom: 0;
    right: 0;
    left: 0;
    height: 900px;
    background-color: v.$color4;
    opacity: 0.3;
  }
  .card {
    z-index: 5;
    background-color: v.$color1;
    border-radius: 2rem 0 2rem 0;
    width: 350px;
    height: auto;
    margin: 3rem;

    .login-register {
      margin-top: 8rem;
      &:first-child {
        /*  button{
          background-color:v.$color4;
          padding: 3rem 0 3rem 0;
        } */
      }
    }

    .users-svg {
      background-color: v.$color3;
      width: 7em;
      height: 7em;
      border-radius: 50%;
      border: 0.3rem solid v.$color4;
      position: absolute;

      transform: translate(-15%, -10%);
    }
  }
}
